

/*===== FONT COLOURS =====*/

.black{
color:#14171A;
}
.blue{
color:#1DA1F2;
}
.dark-gray{
color:#657786;
}
.extra-light-gray{
color:#F5F8FA;
}
.light-gray{
color:#AAB8C2;
}
.#fff{
color: #FFF;
}


/*=====GENERAL===========*/
html, body {
	margin:0;
	padding:0;
  	overflow-x: hidden;
}

body {
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding: 0;
	background-color: #000;
}


a {
	cursor: pointer;
	font-family: sans-serif;
	text-decoration: none;


}

p{
	color: #657786;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
	text-align: left;
}

.container {
  width: 100%;
}

.container:before, .container:after {
  content: " ";
  display: table;
}


.container:after {
  clear: both;
 }

 .mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

.block{
	display: block;
}

.ib{
	display: inline-block;
}

main{
	margin: 10px 0px 40px 0px;
	padding: 0;
	display: block;
	width: 100%;

}



ul{
	list-style: none;
}

/*-----HEADER-----*/
header{
	height: 50px;
	margin:0;
	width: 100%;

}
/*-----NAV--------*/
nav{
	background-color: #f5f8fa;
	float: left;
	height:60px;
	position: fixed;
	width:100%;
	z-index: 2;
	margin-top: 0;

}
nav ul li, button, form{
	display: inline-block;
	float:left;
}

nav a{
	color: #657786;
}
nav a:hover{
	color: #1DA1F2;
	border-bottom: 2px solid #1DA1F2;
}

nav i{
	color: #1DA1F2;
	float:left;
	font-size: 21px;
	font-weight: 700;
	height: 23px
	line-height:21px;
	margin-left:0;
	margin-top:11px;

}

nav i:hover{
	color: #657786;

transform: translateY(-5px);
}

nav ul li {
	margin-left: 32px;
}

.nav-text{
	font-size: 13px;
	font-weight: 700;
	line-height: 13px;
	margin-left:3px;
	margin-top:17px;
	text-align: left;
}

#nav-profile{
	bottom: 14px;
	margin-left: 40px;
}

form{
	margin-left: 100px;
	margin-right: 0;

}
form:hover{
	cursor: pointer;
}

.search {
	display:inline-block;
	float: right;
	padding-bottom: 0px;
	position: relative;
}
.search-input{
	background-color: #fff;
	border-radius: 21px;
	border: 2px solid rgb(29,161,242);
	box-shadow: none;
	box-sizing: border-box;
	display: block;
	font-size: 12px;
	font-weight: 400;
	height: 30px;
	line-height: 16px;
	outline:none;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-top: 8px;
	text-align: left;
	width:221px;


}

#search-icon {
	background-color: transparent;
	border:none;
	outline:none;
	display: inline-block;
	float:left;
}

#nav-tweet{
	background-color: #1DA1F2;
	color:#fff;
	border-radius: 40px;
	padding: 10px 24px;
	border: none;
	outline: none;
	margin-top: 0;
	font-size:14px;
	font-weight: 700;
	line-height: 20px;
	padding:6px 16px;
	margin-right: 30px;
}

#tweetNow {
	background-color: #1DA1F2;
	color:#fff;
	border-radius: 40px;
	padding: 10px 24px;
	border: none;
	outline: none;
	margin-top: 0;
	font-size:14px;
	font-weight: 700;
	line-height: 20px;
	padding:6px 16px;
	margin-right: 30px;
}




/*-----COVER------*/
#user-cover{
	background-image: url(../assets/images/twitter-cover.jpg);
	height: 300px;
	background-size: cover;
	background-position: center;
	 width: 100%;
	 display: inline-block;
	 position: relative;

}
/*-----COLUMN 1---*/
#column-left{
	width:22%;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;

}


#presentation-list{
    clear: both;
	display: block;
	text-align: left;
	width: 100%;
}

#presentation-list li{
	display: inline-block;
	list-style: none;
	margin-right: 15px;
}
.blue:hover{
	color: #657786;

}

.dark-gray:hover{
	color:black;

}

.black:hover{
	color: #AAB8C2;
}

#support-list a:hover{
	color: #1DA1F2;
}


.user-account h4{
	font-size: 18px;
	font-weight: 700;
	line-height: 15px;
	display: inline-block;

}
/*-----COLUMN 2---*/
#column-center{
	 width: 48%;
	 display: inline-block;
	 vertical-align: top;
}

#printTweet {
  background-color: #fff;
  color: #000;
  display: inline-block;
  width: 98.5%;
}

textarea {
  resize: vertical;
}
/*-----COLUMN 3---*/
#column-right{
	width: 22%;
    display: inline-block;
    vertical-align: top;
}



.column-section{
	background-color:#F5F8FA;
	margin: 2px 10px 5px 0px;
	padding:5px 10px 15px 0px;
	display: block;
	position: relative;
}

.column-section2{
	background-color:#F5F8FA;
	margin: 0px;
	padding:0px;
	display: block;
	position: relative;
	height: 40px;
	 width: 96.2%;
}


.profile-btn {
	border-radius: 50%;
	vertical-align: middle;
	margin: 15px 0px 15px 25px;
	height: 32px;
	width: 32px;
	background-image: url(../assets/images/twitter-user.jpg);
	background-size: cover;
	position: relative;
	outline: none;
	border:none;
}

.profile-btn2 {
	border-radius: 50%;
	vertical-align: middle;
	margin: 35px 0px 15px 0px;
	height: 64px;
	width: 64px;
	background-image: url(../assets/images/twitter-user.jpg);
	background-size: cover;
	position: relative;
	outline: none;
	border:none;
}

.profile-btn3 {
	border-radius: 50%;
	vertical-align: middle;
	margin: 15px 0px 15px 25px;
	height: 44px;
	width: 44px;
	background-image: url(../assets/images/twitter-user.jpg);
	background-size: cover;
	position: relative;
	outline: none;
	border:none;
}

.profile-pin {
	display: inline-block;
	border-radius: 50%;
	float: left;
	margin: 15px 0px 0px 0px;
	height: 44px;
	width: 44px;
	background-image: url(../assets/images/twitter-user.jpg);
	background-size: cover;
	outline: none;
	border:none;
}

.suggest-btn1 {
	border-radius: 50%;
	vertical-align: middle;
	margin: 15px 15px 9px 0px;
	height: 44px;
	width: 44px;
	background-image: url(../assets/images/suggestion.jpeg);
	background-size: cover;
	position: relative;
	outline: none;
	border:none;
	display: inline-block;
	clear:both;
}

.suggest-btn2 {
	border-radius: 50%;
	vertical-align: middle;
	margin: 15px 15px 9px 0px;
	height: 44px;
	width: 44px;
	background-image: url(../assets/images/suggestion-2.jpg);
	background-size: cover;
	position: relative;
	outline: none;
	border:none;
	display: inline-block;
	clear:both;
}

.suggest-btn3 {
	border-radius: 50%;
	vertical-align: middle;
	margin: 15px 15px 9px 0px;
	height: 44px;
	width: 44px;
	background-image: url(../assets/images/suggestion-3.jpg);
	background-size: cover;
	position: relative;
	outline: none;
	border:none;
	display: inline-block;
	clear:both;
}

#small-cover {
	height: 60px;
	width: 18%;
}




#advertise {
	clear: both;
}





#user-account {
	margin: 20px 0;
	padding:6px 3px;
	position: relative;
	display: inline-block;
}

.follow{
	background-color: #fff;
	color:#1DA1F2;
	border-radius: 40px;
	padding: 10px 24px;
	border: none;
	outline: none;
	margin-top: 10px;
	display: block;
	border:1px solid #1DA1F2;
	font-weight:700;
	margin-left:30px;
}

.follow:hover{
	background-color: #fff;
	color:#1DA1F2;
	border-radius: 40px;
	padding: 10px 24px;
	border: none;
	outline: none;
	margin-top:10px;
	display: block;
	border:2px solid #1DA1F2;
	font-weight:700;
	transition: .2s;
	margin-left:30px;
}

article{
	margin-left: 20px;
	clear: left;
	margin-bottom: 20px;
}

.sub{
	display: inline-block;
	font-size: 0.7em;
}
.sub2{
	display: inline-block;
	font-size: 0.7em;
	float:left;
	margin:10px 5px;
	perspective: 0;
}
.suggestiob-list{
	padding-bottom: 30px;
}

.suggestion-item{
	border-top: 1px solid #657786;
	margin: 30px 20px 20px 0px;
	height: 150px;
	clear: both;
	width: 100%;
}
.suggestion-item p{
	margin:  10px 10px 5px 10px;
	padding: 0;
    display: inline-block;
    float: left;
}
.suggestion-item  h4{
	margin:6px auto 5px 10px;
	padding: 0;
	display: inline-block;
	float: left;
}
#support-list p{
	color:gray;
	display: inline-block;
	float: left;
	margin:0px 2px;
	padding: 4px 2px 0px 2px;
	font-size: 14px;
	line-height: 12px;
	vertical-align: bottom;
}

#support-list a{
	color:gray;
	display: inline-block;
	float: left;
	margin:2px;
	font-size: 14px;
	line-height: 14px;
}

coun#new-tweet{
	height:100px;
	background-color: #e8f5ed;
	display: block;
	position: relative;

}

#no-seen{

	height:40px;
	margin-top: 0;
	margin-bottom: 0;
	text-align:center;

}
#no-seen{
	background-color: #e6ecf0;
}

#no-seen:hover{
	background-color: #ccd8dd;
	color:color:#1DA1F2;;
}


#no-seen p{
    padding:10px auto;
	text-align:center;
	clear: both;

}

#no-seen-counter:hover{
	background-color: #ccd8dd;
	color:#1DA1F2;
}

#nt-id-profile{
	display: inline-block;
	position: relative;
}

#nt-textarea{
	display: inline-block;
	position: relative;
	padding:8px auto;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 10px;
}

#nt-form{
	display: inline-block;
	position: relative;
	max-height: 36px;
	min-height:36px;
	padding:8px;
	bottom: 65px;
	margin-right: 20px;

}

#nt-input{
	display: inline-block;
	position: relative;
	border:1px solid #c6e7fb;
	border-radius: 8px;
	margin:0;
	line-height: 20px;
	font-size: 14px;
	max-height: 36px;
	min-height:36px;
	overflow: hidden;
	padding: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 467px;
	word-wrap: normal;
}


#nt-submit{
	margin-top: 10px;
	margin-left: 255px;
	margin-bottom: 40px;
	background-color: #1DA1F2;
	color:#fff;
	border-radius: 40px;
	border: none;
	outline: none;
	font-size:14px;
	font-weight: 700;
	padding:8px 21px;
	cursor: pointer;
	display: inline-block;

}

#nt-submit:hover{
	margin-top: 10px;
	margin-left: 255px;
	margin-bottom: 100px;
	background-color: #green;
	color:#fff;
	border-radius: 40px;
	border: none;
	outline: none;
	font-size:14px;
	font-weight: 700;
	padding:8px 21px;
	cursor: pointer;
	display: inline-block;

}
.btn-tw{
	display: inline-block;
	margin-left: 20px;

}

#fixing{
	clear:both;
}

.count{
	display: inline-block;
	width: 20px;
	font-family: 'Roboto',sans-serif;
	display: block;
	position: absolute;
	margin:10px 5px;
	font-size: 12px;
	font-weight: 700;
	color: #657786; 
	cursor: none;
}

/*-----tweet---*/

#textBox{
	padding-left: 50px;
	width: auto;
	height: auto;
	background-color: #fff;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 10px;
	text-overflow: ellipsis;
	overflow-y: hidden;
}

#boxText{
	margin-top: 10px;
	margin-left: 30px;
	border:1px solid #c6e7fb;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background-color: #fff;
	width: 78%;
	height: 40px;
	overflow: auto;
	resize: none;	
	border-radius: 20px;
	line-height: 20px;
	font-size: 14px;
	outline: none;
	white-space: nowrap;
word-wrap: normal;
}

#boxText:focus{
	outline: none;
	box-shadow: 0px 2px 4px 0px #657786;
}


#charCounter{
	display: inline-block;
	position: absolute;
	margin:10px 5px;
	font-size: 12px;
	font-weight: 700;
	color: #657786;
	cursor: none;
}

#no-seen-counter{
	display: inline-block;
	position: relative;
}

#ctweeter-profile{
	display: inline-block;
	position: relative;
}

.cauthor{
	display: inline-block;
	position: relative;
	margin:20px 5px 20px 20px;
	font-weight: 700;
	font-size: 18px;
}

.caaccount{
	display: inline-block;
	position: relative;
	margin: 10px 10px 0px 0px;
}


.ctweet-date{
	display: inline-block;
	position: relative;
}

.cttext{
	display: block;
	position: relative;
	clear: both;
	width: 90%;
	margin:10px auto;
	margin-bottom: 0;
}

.cretweet p{
	display: inline-block;
	position: relative;
	margin: 10px;
}

.cfavorites p{
	display: inline-block;
	position: relative;
	margin: 10px;
}

.cretweet i{
	display: inline-block;
	position: relative;
	color: #1DA1F2;
	font-size: 21px;
	font-weight: 700;
	height: 23px
	line-height:21px;
	margin:10px;
}

.cfavorites i{
	display: inline-block;
	position: relative;
	color: #1DA1F2;
	font-size: 21px;
	font-weight: 700;
	height: 23px
	line-height:21px;
    margin:10px;
}

.cdmessages p{
	display: inline-block;
	position: relative;
	margin: 10px;
}
.cdmessages i{
	display: inline-block;
	position: relative;
	color: #1DA1F2;
	font-size: 21px;
	font-weight: 700;
	height: 23px
	line-height:21px;
    margin:10px;
}

.cretweet p{
	display: inline-block;
	position: relative;
	margin: 10px;

}
.cretweet i{
	display: inline-block;
	position: relative;
	color: #1DA1F2;
	font-size: 21px;
	font-weight: 700;
	height: 23px
	line-height:21px;
    margin:10px;
}
#tweet-tools ul li{
	display: inline-block;
	float:left;
	bottom:20px;
}

#tweet-tools p{
	display: inline-block;
	float:left;
	margin: 0 100px 30px 0;
	text-align: center;

}

#tweet-tools i:hover{
	color:#1DA1F2;
}

#tweet-tools p:hover{
	color:#1DA1F2;
}
